<footer class="bg-purple text-light">
  <div class="grid grid-cols-5 p-5p">
      <div class="">
          <h4>Lorem ipsum</h4>
          <nav>
              <a class="block">Dolor sit amet</a>
              <a class="block">Consecteteur</a>
              <a class="block">Adipiscing elit</a>
              <a class="block">Sed do</a>
          </nav>
      </div>
      <div>
          <h4>Lorem ipsum</h4>
          <nav>
              <a class="block">Dolor sit amet</a>
              <a class="block">Consecteteur</a>
              <a class="block">Adipiscing elit</a>
              <a class="block">Sed do</a>
          </nav>
      </div>
      <div>
          <h4>Lorem ipsum</h4>
          <nav>
              <a class="block">Dolor sit amet</a>
              <a class="block">Consecteteur</a>
              <a class="block">Adipiscing elit</a>
              <a class="block">Sed do</a>
          </nav>
      </div>
      <div class="col-span-2 flex justify-end">
          <div class="text-right">
              <h4>Subscribe to our newsletter</h4>
              <form class="text-right">
                  <input class="w-full bg-purple text-light border border-current" type="email" id="email" name="email">
                  
                  <input class="bg-light text-purple uppercase px-6 py-1 mt-5 ml-auto" type="submit" value="subscribe">
              </form>
          </div>
      </div>
  </div>
  <div class="px-5p py-2p border-t">
      <a href="#">Terms of use</a>
  </div>
</footer>