<!------- header banner ------->
<header class="p-20 text-[#786889] bg-no-repeat min-h-screen {% if page.banner.header-style == 'header-style-1' %} bg-cover {% elsif page.banner.header-style == 'header-style-2' %} bg-contain bg-right {% endif %} " style="background-image: url('{{page.banner.banner-image}}');">

  <nav class="grid grid-cols-6">
    <div col-span-3>
      <a href="">the pilates studio</a>
    </div>
    <a href="">our classes</a>
    <a href="">schedule</a>
    <a href="">contact</a>
  </nav>

  <div class="">
    <hr class="bg-[#786889]">
    <h3>welcome to</h3>
    <h1>The Pilates Studio</h1>
  </div>
</header>