<section class="grid grid-cols-4 divide-purple divide-x divide-y border-b">
  <div class="col-span-2 row-span-2 bg-cover bg-no-repeat bg-[50%_40%] min-h-[90vh] flex items-end " style="background-image: url('/assets/images/jempinis-12-3.jpg');">
    <div class="p-20 text-light">
      <h2>our classes</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta animi similique aliquam officiis sed! Maiores accusamus, minima, harum nesciunt autem perspiciatis hic cum consequatur veniam repellendus, saepe quisquam blanditiis.</p>
      <button class="bg-purple">find out more</button>
    </div>
  </div>

  {% for item in block.pilates-class limit:4 %}
  <div class="text-purple p-5 flex items-end">
    <div>
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
    </div>
  </div>
  {% endfor %}
</section>