<section>
  <div style="background-image: url('');">
    <h2>our classes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At soluta animi similique aliquam officiis sed! Maiores accusamus, minima, harum nesciunt autem perspiciatis hic cum consequatur veniam repellendus, saepe quisquam blanditiis.</p>
    <button>find out more</button>
  </div>
  <div class="grid grid-cols-2">
    <div>
      <h3>Bikram hot yoga</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolore? Voluptates enim laboriosam corporis mollitia hic aut cum minima.</p>
    </div>
    <div>
      <h3>Bikram hot yoga</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolore? Voluptates enim laboriosam corporis mollitia hic aut cum minima.</p>
    </div>
    <div>
      <h3>Bikram hot yoga</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolore? Voluptates enim laboriosam corporis mollitia hic aut cum minima.</p>
    </div>
    <div>
      <h3>Bikram hot yoga</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolore? Voluptates enim laboriosam corporis mollitia hic aut cum minima.</p>
    </div>
  </div>
</section>